doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Poe Build Tracker
    body 
        h1 Builds Page
        h3 Build Information
        hr
        br
        -const buildsList = builds
        for build, i in buildsList
            h3= "Build Number: " + (i+1)
            p= "Name: " + build.name 
            p= "Build Purpose: " + build.Purpose 
            p= "PlayStyle: " + build.Style
            p= "Important Gear: " + build.gear
            p= "Build Comments: " + build.comments
            a(href=`/builds/${build.Id}`)
                button More information
            br
            hr
            br
        a(href="/")
            button Home
        a(href="/submit")
            button Submit your own
        a(href="/players")
            button Players