doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Poe Build Tracker
    body 
        h1 Builds Page
        h3 Build Information
        h3 Build Number: #{build.id}
        p Name: #{build.name}
        p Build Purpose: #{build.Purpose} 
        p PlayStyle: #{build.Style}
        p Important Gear: #{build.gear}
        p Build Comments: #{build.comments}
        form(action=`/`, method="DELETE")
            input(type='submit', name='Delete', value='Delete')
        br
        form(action="/", method="PUT")
            br
            label(name="name") New Build Name: 
            input(type="text", name="name")
            br
            br
            label(name="purpose") New Purpose: 
            input(type="text", name="purpose")
            br
            br
            label(name="style") New Style: 
            input(type="text", name="style")
            br
            br
            label(name="gear") New Gear Used: 
            input(type="text", name="gear")
            br
            br
            label(name="comments") New Comments: 
            input(type="text", name="comments")
            br
            br
            label(Update Your Build: )
            input(type="submit", name="update", value="Update")
        br
        hr
        br
        a(href="/")
            button Home
        a(href="/builds")
            button Back